MONGODB_URI=mongodb://localhost:27017/rgk
DATABASE_NAME=rgk
REDIS_URL=redis://localhost:6379
AUTH0_DOMAIN=dev-ygidkes0jet8f5yu.us.auth0.com
AUTH0_AUDIENCE=https://api.rentgrandkids.org/api/v1
CORS_ORIGINS=["http://localhost:8081","https://rentgrandkids.org"]
DEBUG=true
RGK_ROOT_USERS=[]
INTERNAL_API_KEY=change-me-in-production
