EXPO_PUBLIC_API_URL=https://api.rentgrandkids.org/api/v1
EXPO_PUBLIC_AUTH0_DOMAIN=dev-ygidkes0jet8f5yu.us.auth0.com
EXPO_PUBLIC_AUTH0_CLIENT_ID=tlIi2Z48zf6sIZTh5MpvZvLxiLQlLl0c
EXPO_PUBLIC_AUTH0_AUDIENCE=https://api.rentgrandkids.org/api/v1